<form asp-action="Login" method="post">
    <input asp-for="UserName" />
    <input asp-for="Password" type="password" />
    <input asp-for="RememberMe" type="checkbox" />
    <button type="submit">Đăng nhập</button>
</form>