@model baitapbuoi17.Models.Products

@{
    ViewData["Title"] = "Create";
    Layout = "ProductController";
}
<form id="addProductForm">
    <input type="text" name="Name" placeholder="Tên sản phẩm" />
    <input type="number" name="Price" placeholder="Giá sản phẩm" />
    <input type="text" name="ProductType" placeholder="loại sản phẩm" />
    <button type="submit">Thêm sản phẩm</button>
</form>

<script>
    $(document).ready(function () {
        $("#addProductForm").submit(function (e) {
            e.preventDefault();
            $.ajax({
                url: "/Products/AddProduct",
                type: "POST",
                data: $(this).serialize(),
                success: function (response) {
                    if (response.success) {
                        alert("Thêm sản phẩm thành công!");
                    } else {
                        alert("Có lỗi xảy ra. Vui lòng kiểm tra lại thông tin.");
                    }
                }
            });
        });
    });
</script>